name: CI for QuizBots

on:
  push:
    branches: [main]
  workflow_dispatch:

env:
  mail: "github-actions@github.com"
  username: "github-actions[bot]"
  ACTIONS_RUNNER_DEBUG: true
  ACTIONS_STEP_DEBUG: true
  
jobs:
  quizbot1:
    name: Admitory-Bot
    runs-on: ubuntu-latest
    steps:
      - name: Clone The REMEDICS Bot Repo
        run: git clone https://${{ secrets.GH_TOKEN }}@github.com/${{ secrets.REPOSLUG }} remedics

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
        timeout-minutes: 5
        continue-on-error: false

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            libreoffice-writer \
            ure \
            libreoffice-java-common \
            fonts-dejavu \
            fonts-noto-core \
            poppler-utils \
            libpango-1.0-0 \
            libpangoft2-1.0-0 \
            poppler-data libpoppler-dev
          sudo apt-get purge -y libreoffice-help-* libreoffice-l10n-* libreoffice-dict-* || true
          sudo rm -rf /var/lib/apt/lists/*

      - name: Install Python dependencies and run remedics Bot
        run: |
          cd remedics
          pip install -r requirements.txt
          python main.py
        timeout-minutes: 340
        continue-on-error: true


  looper:
    name: Run QuizBot loop
    needs: quizbot1
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set Git Configs & Secrets
        run: |
          git config --global user.email "${{ env.mail }}"
          git config --global user.name "${{ env.username }}"
          git config --global pull.rebase false
          git config --global credential.helper store
          echo "https://${{ env.username }}:${{ secrets.GH_TOKEN }}@github.com" > ~/.git-credentials

      - name: Create an empty commit
        run: |
          git clone https://${{ secrets.GH_TOKEN }}@github.com/${GITHUB_REPOSITORY} temp
          cd temp
          git commit --allow-empty -m "[LOOP] Re-run XenonCI workflow"
          git push
